:root {
  --navy-blue: #2c3e50;
  --soft-gold: #d4af37;
  --cream: #faf3e0;
  --wine-red: #8b0000;
  --forest-green: #2e8b57;
  --dark-slate: #2f4f4f;
  --ivory: #fffff0;
  --paynes-gray: #3d5c6cff;
  --dark-slate-gray: #355456ff;
  --brunswick-green: #2c4c3fff;
  --battleship-gray: #848d81ff;
  --bone: #dbcec2ff;
  --beaver: #977e70ff;
  --beaver-2: #a08a7dff;
}

body {
  background-color: var(--cream);
}
