@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

* {
  margin: 0;
}

.new-amsterdam-regular {
  font-family: 'New Amsterdam', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.new-amsterdam-bold {
  font-family: 'New Amsterdam', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.source-sans-3-regular {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3-bold {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
